.section-5{
    position: relative;
    margin-top: 194px;

    .section5-block1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 36px;

        h1{
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 28px;
            line-height: 35px;
        }
        p{
            font-family: 'Plus Jakarta Sans';
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
        }
    }

    .section5-block2{
        display: flex;
        gap: 143px;
        font-weight: 400;
        font-family: 'Plus Jakarta Sans';
        margin-top: 62px;
        justify-content: center;
        

        .section5-textContent{
            display: flex;
            flex-direction: column;
            gap: 17px;

            h1{
                font-size: 27px;
                line-height: 35px;
            }

            p{
                font-size: 20px;
                line-height: 28.8px;
                width: 332px;
            }
        }
    }
}